<section
  id="contact" class="grid auto-rows-auto gap-2 py-2 px-2 mx-4 md:mx-24 text-center text-white bg-blue-light rounded-2xl md:rounded-full"
>
  <h2 class="font-medium md:text-lg">CONTACTO</h2>
  <p class="text-xs md:text-base">
    <strong>Redes sicales: </strong>facebook.com/grupoempresarialshaddai
  </p>
  <p class="text-xs md:text-base">
    <strong>E-mail: </strong>shadaiserviciosyasesorias@gmail.com -
    contabilidadshaddai1@gmail.com
  </p>
  <p class="text-xs md:text-base">
    <strong>Móvil: </strong>3153439880 - 3054058474
  </p>
</section>

