<nav
  class="bg-blue-dark text-stone-50 grid content-center md:grid-cols-2 md:h-24"
>
  <div class="my-4 md:my-0">
    <h1 class="flex justify-center text-center"> <strong>HOLDING EMPRESARIAL SHADDAI SERVICIOS, CONSULTORÍAS Y ASESORÍAS INTEGRALES S.A.S</strong></h1>
  </div>
  <div class="grid grid-cols-4 justify-items-center md:grid md:grid-cols-4 mb-2 md:my-0">
    <h2 class="hover:underline"><a href="#services">Servicios</a></h2>
    <h2 class="hover:underline"><a href="#about_us">Nosotros</a></h2>
    <h2 class="hover:underline"><a href="#news">Noticias</a></h2>
    <h2 class="hover:underline"><a href="#contact">Contacto</a></h2>
  </div>
</nav>
