<article id="about_us" class="relative md:h-88">
  <img
    class="absolute h-full w-full object-cover object-top z-0 opacity-40"
    src="/src/assets/hands.jpg"
    alt=""
  />

  <div class="grid h-full items-center p-2 gap-4 md:grid-cols-2 text-white text-center">
    <section
      class="flex flex-col bg-blue-dark/40 z-10 p-4 md:h-64 xl:py-12 xl:px-24 md:justify-center"
    >
      <h2 class="font-medium md:text-lg">MISIÓN</h2>
      <p class="font-light text-sm md:text-base italic">
        Prestar servicios de alta calidad y confiabilidad a nuestros clientes,
        regidos por principios éticos, respeto y eficiencia, enfocándonos en una
        atención integral y para todos y cada uno de nuestros clientes en
        conceptos legales, contables, aduaneros y otros.
      </p>
    </section>

    <section
      class="flex flex-col bg-blue-dark/40 z-10 p-4 md:h-64 xl:py-12 xl:px-24 md:justify-center"
    >
      <h2 class="font-medium md:text-lg">VISIÓN</h2>
      <p class="font-light text-sm md:text-base italic">
        Constituirnos como una compañía líder en las diferentes áreas del
        derecho, consultorías, contabilidad, comercio exterior, ingeniería,
        marketing y otros; para el apoyo administrativo, financiero legal y de
        gestión; siendo punta de lanza en asesorías y en prestación de
        servicios, satisfaciendo así a nuestros clientes.
      </p>
    </section>
  </div>
</article>
