<div id="news" class="flex flex-col items-center">
  <h2 class="font-medium md:text-lg pb-2">NOTICIAS</h2>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/grupoempresarialshaddai"
    data-tabs="timeline"
    data-width="500"
    data-height=""
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/grupoempresarialshaddai"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/grupoempresarialshaddai"
        >Grupo Empresarial Shaddai Servicios y Asesorias Integrales S.A.S</a
      >
    </blockquote>
  </div>
</div>
