<div id="news" class="flex flex-col items-center">
  <h2 class="font-medium md:text-lg pb-2">NOTICIAS</h2>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/holdingempresarialshaddai/"
    data-tabs="timeline"
    data-width=""
    data-height=""
    data-small-header="true"
    data-adapt-container-width="true"
    data-hide-cover="true"
    data-show-facepile="true"
  >
    <blockquote
      cite="https://www.facebook.com/holdingempresarialshaddai/"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/holdingempresarialshaddai/"
        >Holding Empresarial Shaddai Servicios y Asesorias Integrales S.A.S</a>
    </blockquote>
  </div>

  <!-- <iframe class="w-60 h-60 xl:w-90" src="https://www.youtube-nocookie.com/embed/videoseries?si=cTNx3vptMdduaF-q&amp;list=PL8f4k9u5AmqTla4lzjjv-YQs_CKeDMCJN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->

</div>
