<header class="flex justify-center items-center h-44">
  <p class="text-blue-dark font-light italic text-center px-6 xl:px-104 text-sm md:text-base">
    Tenemos el mejor equipo interdisciplinario para prestar nuestros servicios y
    asesorías integrales en diferentes áreas con fundamento en la globalización
    que estamos viviendo día a día.
  </p>
</header>
