<main id="services" class="grid md:grid-cols-4 shadow-md">
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-blue-light text-white text-sm md:text-base py-2 px-2 md:h-36 2xl:px-28"
  >
    ASESORÍAS JURÍDICAS
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-gray-light text-blue-dark text-sm md:text-base py-2 px-2 md:h-36 2xl:px-28"
  >
    SERVICIO CONSULTORÍA
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-blue-light text-white text-sm md:text-base py-2 px-2 md:h-36 2xl:px-28"
  >
    ASESORÍAS COMERCIO INTERNACIONAL C.I
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-gray-light text-blue-dark text-sm md:text-base py-2 px-2 md:h-36 2xl:px-28"
  >
    LICITACIONES PÚBLICAS Y PRIVADAS
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-blue-light text-white text-sm md:text-base py-2 px-2 md:bg-gray-light md:text-blue-dark md:h-36 2xl:px-28"
  >
    ASESORÍA ADUANERA, COMERCIO EXTERIOR Y ZONA FRANCA
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-gray-light text-blue-dark text-sm md:text-base py-2 px-2 md:bg-blue-light md:text-white md:h-36 2xl:px-28"
  >
    CREACIÓN DE SOCIEDADES REORGANIZACIÓN EMPRESARIAL
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-blue-light text-white text-sm md:text-base py-2 px-2 md:bg-gray-light md:text-blue-dark md:h-36 2xl:px-28"
  >
    BROCKERS ENLACES COMERCIALES
  </p>
  <p
    class="flex transition delay-8 duration-400 ease-in-out hover:-translate-y-1 hover:scale-108 md:justify-center md:place-items-center md:text-center bg-gray-light text-blue-dark text-sm md:text-base py-2 px-2 md:bg-blue-light md:text-white md:h-36 2xl:px-28"
  >
    <a
      href="../assets/documents/MANUAL_POLITICA_DE_TRATAMIENTO_DE_DATOS_LEY_1581_SHADDAI.pdf"
      target="_blank">POLITICAS DE GRUPO EMPRESARIAL SHADDAI</a
    >
  </p>
</main>
