<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v22.0"
    ></script>
  </head>
  <body class="font-poppins">
    <slot />
  </body>
</html>

<!-- <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->
